body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 95%;
  margin: 0 auto;
  padding: 20px;
}

.banner {
  width: 100%;
  max-width: 1200px;
  height: 300px; /* Simula um espaço de imagem */
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 30px auto;
  font-size: 2rem;
}

.description {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 50px auto;
  font-size: 1.2rem;
}

.item-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 0px; /* Reduzindo totalmente o espaço entre os elementos */
}

/* Ajuste direto no espaçamento do texto */
.text-box {
  max-width: 500px;
  margin: 0;
  padding: 0;
}

/* Quadrado na extrema esquerda */
.item.left .square {
  margin-left: 0;
}

/* Quadrado na extrema direita */
.item.right .square {
  margin-right: 0;
  margin-left: auto;
}

/* Texto à esquerda */
.item.left .text-box {
  text-align: left;
  padding-right: 43%; /* Deixando bem próximo do quadrado */
}

/* Texto à direita */
.item.right .text-box {
  text-align: right;
  padding-left: 43% /* Deixando bem próximo do quadrado */
}

/* Quadrado */
.square {
  width: 250px;
  height: 250px;
  background-color: white;
}


@media (max-width: 768px) {
  .item {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .text-box {
    max-width: 100%;
    text-align: center;
    padding: 0;
  }
}

.footer {
  text-align: center;
  padding: 30px;
  margin-top: 50px;
}
